@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import './variables.styl';

#app {
  height: 100%;
}

// Overriding CSS
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, #alt-h1, #alt-h2 {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  border: none !important;
  font-size: 28px;
}

h3, #alt-h2 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  margin-top: unset !important;
}

h6 {
  font-size: 14px;
}

#alt-h1, #alt-h2 {
  border-bottom: 2px solid #eeeeee !important;
  position: relative;

  &:after {
    background-color: $mainColor;
    bottom: -2px;
    content: '';
    display: block;
    left: 0;
    height: 2px;
    position: absolute;
    width: 50px;
  }
}

table {
   margin: unset !important;
   display: table !important;
   border-width: 1px !important;

   &:not([border="1"]) td, th {
        border: 1px solid #dfe2e5 !important;
   }

   tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit !important;

    &:nth-child(2n) {
      background-color: transparent !important;
    }

    th, td {
      min-width: unset;
      padding: 0;
      border-color: inherit !important;
    }

    td {
      &:nth-child(2) {
        text-align: unset;
      }

      &:nth-child(3) {
        text-align: unset;
      }
    }
  }
}

pie-player {
   table {
      &:not([border="1"]) td, th, tr {
         border-width: 0 !important;
      }

      tr {
         &:nth-child(2n) {
            background-color: #f6f8fa !important;
         }
      }
   }
}

blockquote {
  background-color: $containerBgColor;
  border-left: 10px solid $mainColor;
  padding: 10px;

  p {
    color: $quoteTextColor;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}

pre {
  &.language-text {
    background-color: $wrappedTextBgColor !important;

    code {
      color: $wrappedTextColor !important;
    }
  }
}
