@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$mainColor = #3f51b5
$accentColor = #000000;
$textColor = #000000;
$quoteTextColor = #333333;
$activeLinkColor = #f9a825;
$navbarTextColor = #ffffff
$activeItemColor = #ebebeb
$containerBgColor = #fafafa
$codeBgColor = #020720
$wrappedTextBgColor = #dfe4ff
$wrappedTextColor = #040c38

#app {
  height: 100%;
}

// Custom Css
.customDemoPage {
  height: 100%;
  padding-left 20rem;

  .sidebar {
    display block !important;
  }

  .custom-layout {
    height: 100%;
    padding-top 0;

    .theme-container {
      height: 100%;

      .element-container {
        height: calc(100% - 4rem);
        width: 99%;
        padding-top: 4rem;
      }
    }
  }
}

.force-sidebar {
  .search-box-container {
    align-items: center;
    background: $activeItemColor;
    display: flex;
    height: 76px;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 3.6rem;
    width: 20rem;
    z-index: 99;

    .suggestions {
      right: initial;
    }

    input {
      width: 218px;

      &:empty {
        &:before {
          content: 'ceva';
        }
      }
    }
  }

  .sidebar {
    display: block !important;
    margin-bottom: 78px;
    top: calc(3.6rem + 76px);
  }

  .download-pdf-container {
    align-items: center;
    background-color: $mainColor;
    display: flex;
    bottom: 0;
    height: 78px;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 20rem;
    z-index: 99;

    .text-container {
      .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .info {
        font-size: 12px;
        span {
          font-weight: bold;
        }
      }
    }
  }

  .page {
    padding-left: 20rem !important;

    .content {
      max-width: none !important;

      > h1 {
        padding-top: 0;
        margin-top: 0;
      }

      ul {
        padding-left: 0;
        li {
          align-items: center;
          display: flex;

          &:before {
            background-color: $mainColor;
            content: '';
            display: inline-block;
            height: 5px;
            margin-right: 10px;
            width: 5px;
          }
        }
      }
    }
  }
}

.customHomePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
// Overriding CSS
html, body {
  height: 100%;
}

.navbar {
  background-color: $mainColor !important;

  .links {
    background-color: $mainColor !important;
  }

  .logo {
    height 1.25rem;
    vertical-align middle
  }
}

.nav-item {
  .nav-link {
    color: $navbarTextColor;
  }
}

.sidebar-heading {
  color: $mainColor !important;
}

.sidebar-links {
  li {
    &:first-child {
      color: $mainColor !important;
    }
  }

  .sidebar-link {
    color: $mainColor !important

    &.active {
      border: none !important;
    }
  }

  .sidebar-group-items, .sidebar-sub-header {
    .sidebar-link {
      color: $textColor !important;

      &.active {
        background-color: $activeItemColor;
      }
    }
  }

  .sidebar-sub-header {
    .sidebar-link {
      color: $textColor !important;

      &.active {
        background-color: transparent;
      }
    }
  }
}

.nav-link {
  text-transform: uppercase !important;

  &.external {
    svg {
      display: none;
    }
  }

  &:hover {
    border: none !important;
    color: $activeLinkColor !important;
  }

  &.router-link-active {
    border: none !important;
    color: $activeLinkColor !important;
  }
}

h1, h2, h3, h4, h5, h6, #alt-h1, #alt-h2 {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  border: none !important;
  font-size: 28px;
}

h3, #alt-h2 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

#alt-h1, #alt-h2 {
  border-bottom: 2px solid #eeeeee !important;
  position: relative;

  &:after {
    background-color: $mainColor;
    bottom: -2px;
    content: '';
    display: block;
    left: 0;
    height: 2px;
    position: absolute;
    width: 50px;
  }
}

table {
  tr {
    &:nth-child(2n) {
      background-color: $containerBgColor !important;
    }

    td {
      min-width: 110px;

      &:nth-child(2) {
        text-align center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

blockquote {
  background-color: $containerBgColor;
  border-left: 10px solid $mainColor;
  padding: 10px;

  p {
    color: $quoteTextColor;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
}

pre {
  &.language-text {
    background-color: $wrappedTextBgColor !important;

    code {
      color: $wrappedTextColor !important;
    }
  }
}
