$accentColor = #EE4923

.customDemoPage {
  padding-left 20rem;

  .sidebar {
    display block !important;
  }

  .custom-layout {
    padding-top 0;

    .element-container {
      padding-top: 4rem;
    }
  }
}