$mainColor = #3f51b5
$accentColor = #000000;
$textColor = #000000;
$quoteTextColor = #333333;
$activeLinkColor = #f9a825;
$navbarTextColor = #ffffff
$activeItemColor = #ebebeb
$containerBgColor = #fafafa
$codeBgColor = #020720
$wrappedTextBgColor = #dfe4ff
$wrappedTextColor = #040c38